<!DOCTYPE html>
<html>
  <head>
    <title>Robert C Richardson V</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class='nav-wrap container'>
      <div class="row">
        <div class="col-md-4">
          <h3 role="presentation">Robert C. Richardson V</h3>
        </div>
        <div class="col-md-8">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active">
              <%=link_to "Home", root_path %>
            </li>
            
            <li role="presentation">
              <%=link_to "Blog", blog_path %>
            </li>

            <li role="presentation">
              <%=link_to "Resume", resume_path %>
            </li>

            <li role="presentation">
              <%=link_to "Projects", projects_path %>   
            </li>

            <li role="presentation">
              <%=link_to "Freelance", contact_path %>      
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='content-wrap container'>
      <%= yield %>
    </div>
    <div class='footer-wrap container'></div>
  </body>
</html>
